In [1]:
import pandas as pd
import numpy as np

from NHANES_data_API import NHANESDataAPI

In [2]:
#test data categories
nhanes_api = NHANESDataAPI()
categories = nhanes_api.list_data_categories()
print("Available NHANES data categories:")
print(categories)

Available NHANES data categories:
['demographics', 'dietary', 'examination', 'laboratory', 'questionnaire', 'limitedaccess']

In [3]:
nhanes_api._check_cycle('2005')

['2005']

In [3]:
nhanes_api.list_file_names('demographics')

['Demographic Variables & Sample Weights']

In [4]:
common_variable, uncommon_variable, _ = nhanes_api.get_common_and_uncommon_variables('demographics', cycle_years = ['1999-2018'])

In [5]:
data = nhanes_api.retrieve_data('demographics', ['1999-2018'], 'Demographic Variables & Sample Weights',include_uncommon_variables=False)

In [8]:
data.head()

,RIDEXPRG,DMDMARTL,RIDEXMON,RIAGENDR,RIDAGEMN,RIDSTATR,SDDSRVYR,DMDCITZN,SEQN,SDMVSTRA,...,WTINT2YR,INDFMPIR,DMDEDUC2,RIDRETH1,DMDYRSUS,SDMVPSU,WTMEC2YR,DMDHRGND,DMDEDUC3,year
0,NaN,NaN,2.0,2.0,29.0,2.0,1.0,1.0,1.0,5.0,...,9727.078709,0.86,NaN,4.0,NaN,1.0,10982.898896,2.0,NaN,1999-2000
1,NaN,NaN,2.0,1.0,926.0,2.0,1.0,1.0,2.0,1.0,...,26678.636376,5.00,5.0,3.0,NaN,3.0,28325.384898,1.0,NaN,1999-2000
2,NaN,NaN,1.0,2.0,125.0,2.0,1.0,2.0,3.0,7.0,...,43621.680548,1.47,NaN,3.0,2.0,2.0,46192.256945,1.0,3.0,1999-2000
3,NaN,NaN,2.0,1.0,22.0,2.0,1.0,1.0,4.0,2.0,...,10346.119327,0.57,NaN,4.0,NaN,1.0,10251.260020,2.0,NaN,1999-2000
4,NaN,1.0,2.0,1.0,597.0,2.0,1.0,1.0,5.0,8.0,...,91050.846620,5.00,5.0,3.0,NaN,2.0,99445.065735,2.0,NaN,1999-2000

In [9]:
data['year'].value_counts()

year
2001-2002    11039
2009-2010    10537
2005-2006    10348
2013-2014    10175
2007-2008    10149
2003-2004    10122
2015-2016     9971
1999-2000     9965
2011-2012     9756
2017-2018     9254
Name: count, dtype: int64

In [4]:
nhanes_api.list_file_names('questionnaire')

['Acculturation',
 'Alcohol Use',
 'Allergy',
 'Bowel Health',
 'Blood Pressure & Cholesterol',
 'Cardiovascular Health',
 'Current Health Status',
 'Mental Health - Depression Screener',
 'Dermatology',
 'Diet Behavior & Nutrition',
 'Prescription Medications',
 'Early Childhood',
 'Immunization',
 'Prostate Conditions',
 'Kidney Conditions - Urology',
 'Medical Conditions',
 'Oral Health',
 'Physical Activity',
 'Physical Functioning',
 'Pesticide Use',
 'Smoking - Household Smokers',
 'Smoking - Recent Tobacco Use',
 'Social Support',
 'Vision',
 'Weight History',
 'Weight History - Youth',
 'Health Insurance',
 'Osteoporosis',
 'Audiometry',
 'Respiratory Health',
 'Sexual Behavior',
 'Diabetes',
 'Hospital Utilization & Access to Care',
 'Smoking - Cigarette Use',
 'Sleep Disorders',
 'Alcohol Use - Youth',
 'Sexual Behavior - Youth',
 'Housing Characteristics',
 'Mental Health - Depression Screener - Youth',
 'Drug Use',
 'Drug Use - Youth',
 'Reproductive Health',
 'Reproductive Health - Pregnant Women',
 'Mental Health - Generalized Anxiety Disorder',
 'Mental Health - Depression',
 'Mental Health - Panic Disorder',
 'Consumer Behavior',
 'Balance',
 'Cognitive Functioning',
 'Food Security',
 'Kidney Conditions',
 'Miscellaneous Pain',
 'Occupation',
 'Analgesic Pain Relievers',
 'Physical Activity - Individual Activities',
 'Smoking - Adult Recent Tobacco Use & Youth Cigarette/Tobacco Use',
 'Smoking - Cigarette/Tobacco Use - Adult',
 'Tuberculosis',
 'Hepatitis C Follow Up',
 'Income',
 'Mental Health - Conduct Disorder - Youth',
 'Food Security - Pregnant Women',
 'Air Quality',
 'Prostate Specific Antigen Follow-up',
 'Arthritis',
 'Occupation - Industry & Occupation Codes',
 'Alcohol Use (Ages 18-19)',
 'Consumer Behavior Phone Follow-up Module - Adult',
 'Consumer Behavior Phone Follow-up Module - Child',
 'Preventive Aspirin Use',
 'Creatine Kinase',
 'Taste & Smell',
 'Disability',
 'Hepatitis',
 'Smoking - Secondhand Smoke Exposure',
 'Volatile Toxicant (Subsample)',
 'Volatile Toxicant',
 'Physical Activity - Youth',
 'Reproductive Health - Women 12 Years and Older',
 'Sexual Behavior - Adult']

In [ ]:
['demographics', 'dietary', 'examination', 'laboratory', 'questionnaire', 'limitedaccess']

In [5]:
joined_data = nhanes_api.join_data_files(['2005-2006'], 'demographics', 'Demographic Variables & Sample Weights', 'questionnaire', 'Immunization')

In [6]:
joined_data.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,DMQMILIT,...,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,year_x,IMQ011,IMQ020,year_y
0,31127.0,4.0,2.0,2.0,1.0,5.397605e-79,11.0,12.0,3.0,NaN,...,NaN,NaN,6434.950248,6571.396373,2.0,44.0,2005-2006,NaN,1.0,2005-2006
1,31128.0,4.0,2.0,1.0,2.0,1.100000e+01,132.0,132.0,4.0,NaN,...,2.0,1.0,9081.700761,8987.041810,1.0,52.0,2005-2006,3.0,1.0,2005-2006
2,31129.0,4.0,2.0,2.0,1.0,1.500000e+01,189.0,190.0,4.0,NaN,...,2.0,1.0,5316.895215,5586.719481,1.0,51.0,2005-2006,3.0,3.0,2005-2006
3,31130.0,4.0,2.0,2.0,2.0,8.500000e+01,NaN,NaN,3.0,2.0,...,NaN,NaN,29960.839509,34030.994786,2.0,46.0,2005-2006,3.0,3.0,2005-2006
4,31131.0,4.0,2.0,2.0,2.0,4.400000e+01,535.0,536.0,4.0,2.0,...,2.0,1.0,26457.708180,26770.584605,1.0,48.0,2005-2006,3.0,3.0,2005-2006

In [7]:
nhanes_api._retrieve_variable_table("demographics")

,Variable Name,Variable Description,Data File Name,Data File Description,Years
0,AIALANG,Language of the MEC ACASI Interview Instrument,DEMO_D,Demographic Variables & Sample Weights,2005-2006
1,DMDBORN,In what country {were you/was SP} born?,DEMO_D,Demographic Variables & Sample Weights,2005-2006
2,DMDCITZN,{Are you/Is SP} a citizen of the United States...,DEMO_D,Demographic Variables & Sample Weights,2005-2006
3,DMDEDUC2,(SP Interview Version) What is the highest gra...,DEMO_D,Demographic Variables & Sample Weights,2005-2006
4,DMDEDUC3,(SP Interview Version) What is the highest gra...,DEMO_D,Demographic Variables & Sample Weights,2005-2006
...,...,...,...,...,...
537,SIAINTRP,Was an interpreter used to conduct the Sample ...,DEMO_J,Demographic Variables & Sample Weights,2017-2018
538,SIALANG,Language of the Sample Person Interview Instru...,DEMO_J,Demographic Variables & Sample Weights,2017-2018
539,SIAPROXY,Was a Proxy respondent used in conducting the ...,DEMO_J,Demographic Variables & Sample Weights,2017-2018
540,WTINT2YR,Full sample 2 year interview weight.,DEMO_J,Demographic Variables & Sample Weights,2017-2018
541,WTMEC2YR,Full sample 2 year MEC exam weight.,DEMO_J,Demographic Variables & Sample Weights,2017-2018